{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}

<div class="signup-bg d-flex justify-content-center align-items-center vh-100 font-weight-bold w-100 home-mg">
  <div class="border border-white rounded-lg bg-info bg-opacity-50 text-center p-3 login-form m-2">
    <h1 class="display-4 display-md-3">{% trans "Sign In" %}</h1>
    <p class="lead">
      {% blocktrans %}
      If you have not created an account yet, then please
      <a href="{{ signup_url }}" class="lead text-dark font-weight-bold">SIGN UP</a> first.
      {% endblocktrans %}
    </p>

    <form class="login lead font-weight-bold" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}
      <button type="submit" class="btn btn-success btn-lg border border-white rounded">{% trans "Login" %} &raquo;</button>
    </form>
  </div>
</div>

{% endblock %}