{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}

<div class="signup-bg d-flex justify-content-center align-items-center vh-100 font-weight-bold">
  <div class="border border-white rounded-lg bg-info bg-opacity-50 text-center p-3 login-form">
    <h1 class="display-4 display-md-3">{% trans "Sign Up" %}</h1>

    <p class="lead">
      {% blocktrans %}
      Already have an account? Then please <a href="{{ login_url }}" class="text-dark lead font-weight-bold">sign in</a>.
      {% endblocktrans %}
    </p>

    <form class="signup lead font-weight-bold" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      
      <div class="d-flex flex-column align-items-center">
        <div class="form-group border border-white rounded-lg">
          <!-- {{ form.email.label_tag }} -->
          {{ form.email }}
        </div>
        
        <div class="form-group border border-white rounded-lg">
          <!-- {{ form.username.label_tag }} -->
          {{ form.username }}
        </div>
        
        <div class="form-group border border-white rounded-lg">
          <!-- {{ form.password1.label_tag }} -->
          {{ form.password1 }}
        </div>
        
        <div class="form-group border border-white rounded-lg">
          <!-- {{ form.password2.label_tag }} -->
          {{ form.password2 }}
        </div>
      </div>
      
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-warning btn-lg">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

{% endblock %}
