{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="signup-bg d-flex justify-content-center align-items-center vh-100 font-weight-bold w-100 home-mg">
  <div class="border border-white rounded-lg bg-info bg-opacity-50 text-start p-1 login-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <h3 class="display-4 display-md-3">{% trans "Sign Up" %}</h3>
          <p>{% blocktrans %}Welcome back to the Whispers of Footprints blog. Do you already have an account? Then please <a
              class="link text-dark font-weight-bold text-uppercase" href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-lg btn-primary right border border-white mb-4" type="submit">{% trans "Sign Up" %}
              &raquo;</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}