html,
body {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.footer-bg {
    background-color: #000000;
}

.home-mg {
    margin-top: 65px;
    border-top: white;
}

.copyright {
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.copyright:hover {
    text-decoration: none;
    transform: scale(1.1);
}



/* Sidebar */

.social-sidebar-left {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 999;
    border-radius: 0 5px 5px 0;
}

.social-icon {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: white;
    transform: scale(1.2);
}

/* Navbar Styling */

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.blue-font {
    color: #00CCCC;
}

.thin {
    font-weight: 400;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.nav-design {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.nav-hover:hover {
    transform: scale(1.1);
}

#home-nav:hover {
    background-color: #17a2b8;
}

#about-nav:hover {
    background-color: #ffc107;
}

#sign-up-nav:hover {
    background-color: #007bff;
}

#login-nav:hover {
    background-color: #28a745;
}

#logout-nav:hover {
    background-color: #dc3545;
}

/* Carousel section */

.carousel-inner .custom-img {
    height: 100vh;
    object-fit: cover;
}

#carouselExampleControls .carousel-caption {
    position: absolute !important;
    margin: 0 auto;
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

/* About Us Section */

#aboutUsSection {
    background-image: url('/drpzab2i2/image/upload/v1696508905/static/red_canoe.49a35e787f06.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about_one {
    background-color: rgba(35, 187, 187, 0.5) !important;
}

#about_two {
    background-color: rgba(35, 187, 187, 0.5) !important;
}

#about_three {
    background-color: rgba(35, 187, 187, 0.5) !important;

}

#about_four {
    background-color: rgba(35, 187, 187, 0.5) !important;
}

/* Main Heading Styling */

.impressive-heading {
    border-top: 2px solid white;
    color: #fff;
    font-size: 60px;
    padding: 20px;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    margin-top: 65px;
}

/* Flip Cards */

.flip-card {
    perspective: 1000px;
    max-width: 90%;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 22px;
}

.card-back {
    transform: rotateY(180deg);
    transition: transform 0.3s ease;
}

.flip-card.flipped {
    transform: rotateY(180deg);
    transition: transform 0.3s ease;
    z-index: 1;
    margin-top: 20px;
}

.flip-button {
    margin-top: 15px;
}

.flip-bg {
    margin-top: 100px;
}

/* Login, Sign up, Logout */

.login-bg {
    background: url('/drpzab2i2/image/upload/v1696508904/static/temple_trees.ada37a593836.jpg') center/cover no-repeat;
    height: 600px;
    width: 100%;
    background-color: #f0f0f0;
    object-fit: cover;
}

.login-form {
    background-color: rgba(35, 187, 187, 0.8) !important;
}

.signup-bg {
    background: url('/drpzab2i2/image/upload/v1696508904/static/temple_trees.ada37a593836.jpg') center/cover no-repeat;
    height: 600px;
    width: 100%;
    background-color: #f0f0f0;
    object-fit: cover;
}

/* Blog Section */

#blogEntriesSection {
    background-image: url('/drpzab2i2/image/upload/v1696508904/static/temple_trees.ada37a593836.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blog-bg {
    background-image: url('/drpzab2i2/image/upload/v1696508900/static/mountain_bg.f465bef1a785.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    border: none;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: white;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    background-color: white;
    color: black;
    position: relative;
}

.mast-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.post-link {
    text-decoration: none;
    color: #000000;
}

.post-link:hover,
.page-link {
    text-decoration: none;
    color: rgba(35, 187, 187, 0.8);
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
    transition: transform 0.2s;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
    transform: scale(1.1);
}

/* Media queries */

/* Large Screens */

@media (max-width: 1200px) {
    .carousel-caption {
        height: 30%;
    }
}

/* Medium screens */

@media (max-width: 768px) {

    .carousel-inner .custom-img {
        height: 50vh !important;
    }

    #footer-img {
        margin-top: 70px;
    }

    .card-front,
    .card-back {
        padding: 10px;
        font-size: 14px;
    }

    .carousel-caption {
        height: 50%;
    }

    .social-sidebar-left {
        display: none;
    }
}

/* Small screens */

@media (max-width: 500px) {
    .footer-phone {
        margin: 20px;
    }

    /* .carousel-inner .custom-img {
        height: 100vh !important;
    } */

    #footer-img {
        display: none;
    }

    .social-sidebar-left {
        display: none;
    }

    .flip-bg {
        margin-top: 200px;
        padding: 10px;
        height: 150px;
    }

    .flip-card {
        height: 450px;
        width: 100%;
        margin: 0 auto;
    }

    .card-front,
    .card-back {
        padding: 0px;
        font-size: 13px;
    }

    .carousel-caption {
        height: 50%;
    }
}