body {
    background: linear-gradient(to left, #007BFF, #00FFC8);
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

/* Navbar Styling */

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.blue-font {
    color: #00CCCC;
}

.thin {
    font-weight: 400;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.nav-design {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* Carousel section */

.carousel-inner .custom-img {
    height: 100vh;
    /* max-height: 80vh; */
    object-fit: cover;
}

#carouselExampleControls .carousel-caption {
    position: absolute !important;
    margin: 0 auto;
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a background color with transparency */
    border: 2px solid #000; /* Optional: Customize the border style */
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
    padding: 20px;
    text-align: center;
}

/* About Us Section */

/* #aboutUsSection {
    background: url('../static/travel_bg.jpg') no-repeat center center;
    /* object-fit: cover;
    height: 100%; 
    height: 100%;
} */

#about_one {
    background: url('../static/people_canoe.png') no-repeat center center;
    object-fit: cover;
}

#about_two {
    background: url('../static/ocean_village.png') no-repeat center center;
    object-fit: cover;
}

#about_three {
    background: url('../static/night_purple.png') no-repeat center center;
    object-fit: cover;

}

#about_four {
    background: url('../static/mountain_bg.jpg') no-repeat center center;
    object-fit: cover;
}

/* About Us Heading */

.impressive-heading {
    border-top: 2px solid white;
    color: #fff;
    font-size: 60px;
    padding: 20px;
    text-align: center;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

/* Flip Card */
.flip-card {
    perspective: 1000px;
    max-width: 90%;
    height: 400px;
    /* Adjust as needed for card width */
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
    transition: transform 0.3s ease;
}

.flip-card.flipped {
    transform: rotateY(180deg);
    transition: transform 0.3s ease;
    z-index: 1;
    /* Raise the flipped card to be above other cards */
    /* Add margin between flip cards */
    margin-top: 20px;
}

.flip-button {
    margin-top: 15px;
}

.flip-bg {
    margin-top: 100px;
} 

/* Login, Sign up, Logout */

.login-bg {
    background: url('../static/ocean_village.png') center/cover no-repeat;
    /* height: 600px; */
    min-height: 100vh;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    /* Fallback background color */
    background-size: cover;
    object-fit: cover;
}

.login-form {
    background-color: rgba(35, 187, 187, 0.8) !important;
}

.signup-bg {
    background: url('../static/temple_trees.jpg') center/cover no-repeat;
    height: 600px;
    width: 100%;
    background-color: #f0f0f0;
    /* Fallback background color */
    object-fit: cover;
}

/* Blog area */

#blogEntriesSection {
    background: url('../static/mountain_lake.png') no-repeat center center;
    object-fit: cover;
    height: 100%;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #000000;
}

.post-link:hover,
.page-link {
    text-decoration: none;
    color: white;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
    color: #000000;
}

.post-subtitle {
    margin-left: 5%;
    color: #000000;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}