{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Whispers of Footprints</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-rfs/bootstrap-rfs.css">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="d-flex flex-column h-100 w-100">

    <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-body nav-design fixed-top">
        <a class="navbar-brand mr-5" href="{% url 'home' %}">
            <span class="brand">
                <span class="blue-font">whispers</span>
                <span class="d-sm-inline">of</span>
                <span class="thin d-inline d-sm-none"><i class="fas fa-shoe-prints"></i></span>
                <!-- Display only on small screens -->
                <span class="thin d-none d-sm-inline">|f<i class="fas fa-shoe-prints"></i>tprints</span>
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-20 w-lg-100" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active m-1">
                    <a class=" btn nav-link text-white font-weight-bold border-bottom nav-hover" id="home-nav"
                        href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item m-1">
                    <a class="btn nav-link nav-link text-white font-weight-bold border-bottom nav-hover" id="logout-nav"
                        href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item m-1">
                    <a class="btn nav-link nav-link text-white font-weight-bold border-bottom nav-hover"
                        id="sign-up-nav" href="{% url 'account_signup' %}">Sign Up</a>
                </li>
                <li class="nav-item m-1">
                    <a class="btn nav-link nav-link text-white font-weight-bold border-bottom nav-hover" id="login-nav"
                        href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <main class="flex-shrink-0">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <footer id="footerSection" class="text-white py-4 border-top footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-phone">
                    <h3 class="text-center">About Us</h3>
                    <p class="font-weight-light text-justify">Welcome to our travel blog! We're avid explorers sharing
                        captivating tales of global
                        adventures.
                        Dive into our world of wanderlust for travel inspiration, expert tips, and destination insights.
                        Join us on a journey to uncover the planet's hidden treasures and make your own travel dreams a
                        reality.
                        If you'd like to know more, click the button below and we'll tell you everything!</p>
                    <div class="text-center">
                        <button type="button"
                            class="lead btn btn-warning btn-lg border border-white showAboutUsButton text-center">About
                            Us</button>
                    </div>
                </div>
                <div class="col-md-4 footer-phone" id="footer-img">
                    <img src="{% static 'map.jpeg' %}" alt="An outline of a worldmap" class="img-fluid mx-auto">
                </div>
                <div class="col-md-4 footer-phone">
                    {% if user.is_authenticated %}
                    <h3 class="text-center">Explore Our Blogs</h3>
                    <p class="font-weight-light text-justify">
                        Explore our blogs for a captivating journey through global adventures and hidden treasures.
                        Discover expert travel tips, destination insights, and firsthand experiences that inspire
                        wanderlust. Immerse yourself in rich narratives, turning your travel dreams into reality. Join
                        us in exploring the extraordinary, one blog post at a time.</p>
                    <div class="text-center">
                        <button type="button"
                            class="lead btn btn-success btn-lg border border-white exploreBlogsButton">Explore Our
                            Blogs</button>
                    </div>
                    {% else %}
                    <h3>Register Now!</h3>
                    <p class="font-weight-light">
                        Want to explore our blogs? Click the sign-up button below!
                    </p>
                    <a href="{% url 'account_signup' %}"
                        class="lead btn btn-primary btn-lg border border-white mb-4">Sign Up</a>
                    <h3>Already have an account?</h3>
                    <p class="font-weight-light">
                        Login now and you can interact with our blog posts!
                    </p>
                    <a href="{% url 'account_login' %}"
                        class="lead btn btn-success btn-lg border border-white mb-2">Login</a>

                    {% endif %}
                </div>
            </div>
        </div>
    </footer>

    <!-- Social Icons in footer -->
    <div class="text-center p-3 text-white border-top footer-bg copyright">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>© 2023 Copyright: Made by Lauren Pechey</p>
        </div>
        <div class="col-12 text-center d-lg-none d-md-none">
            <!-- Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/"
                target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>
            <!-- Instagram -->
            <a class="btn btn-primary" style="background-color: #ac2bac;" href="https://www.instagram.com/"
                target="_blank" role="button"><i class="fab fa-instagram"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/"
                target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>
            <!-- Youtube -->
            <a class="btn btn-primary" style="background-color: #ed302f;" href="https://www.youtube.com/"
                target="_blank" role="button"><i class="fab fa-youtube"></i></a>
            <!-- Github -->
            <a class="btn btn-primary" style="background-color: #333333;" href="https://www.github.com/" target="_blank"
                role="button"><i class="fab fa-github"></i></a>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="social-sidebar-left">
        <a href="https://www.facebook.com/" target="_blank" class="social-icon border border-white rounded-lg pl-2 pr-2"
            style="background-color: #3b5998;"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com/" target="_blank" class="social-icon border border-white rounded-lg pl-2 pr-2"
            style="background-color: #55acee;"><i class="fab fa-twitter"></i></a>
        <a href="https://www.google.com/" target="_blank" class="social-icon border border-white rounded-lg pl-2 pr-2"
            style="background-color: #dd4b39;"><i class="fab fa-google"></i></a>
        <a href="https://www.instagram.com/" target="_blank"
            class="social-icon border border-white rounded-lg pl-2 pr-2" style="background-color: #ac2bac;"><i
                class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/laurenpechey" target="_blank"
            class="social-icon border border-white rounded-lg pl-2 pr-2" style="background-color: #0082ca;"><i
                class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/pecheylauren02" target="_blank"
            class="social-icon border border-white rounded-lg pl-2 pr-2" style="background-color: #333333;"><i
                class="fab fa-github"></i></a>
    </div>

    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>

</body>

</html>