{% extends 'base.html' %}

{% block content %}

{% load static %}
<div class="container signup-bg d-flex justify-content-center align-items-center vh-100 font-weight-bold">
    <div class="border border-white rounded-lg bg-info bg-opacity-50 text-center p-3 login-form">
        <h1 class="display-4 display-md-3">Delete Comment</h1>
        <p>Are you sure you want to delete this comment?</p>
        <form method="post" class="signup lead font-weight-bold">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-lg mb-3 border border-white rounded">Delete Comment</button>
            <a href="{% url 'post_detail' comment.post.slug %}" class="btn btn-primary btn-lg">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}