{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container-fluid signup-bg d-flex justify-content-center align-items-center vh-100 font-weight-bold">
    <div class="col-md-6 col-lg-4">
        <div class="border border-white rounded-lg bg-info bg-opacity-50 text-center p-3 login-form">
            <h1 class="display-4 display-md-3">Edit Comment</h1>
            <form method="post" class="signup lead font-weight-bold">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-lg mb-3">Update Comment</button>
            </form>
            <a href="{% url 'post_detail' comment.post.slug %}" class="btn btn-danger btn-lg">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}
