{% extends "base.html" %}

{% load static %}

{% block content %}

<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" data-pause="hover">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 img-fluid max-width-md custom-img" src="{% static 'ocean_village.png' %}"
                alt="First slide">
            <div class="carousel-caption border border-dark rounded-lg font-weight-bold p-3 text-center mb-5">
                <h1 class="h1-responsive h1-sm">
                    TRAVEL.
                    <br>
                    BLOG.
                    <br>
                    DREAM.
                </h1>
                <button type="button" id="showAboutUsButton" class="lead btn btn-info btn-lg">Learn About Us</button>
                <button type="button" id="exploreBlogsButton" class="lead btn btn-info btn-lg">Explore Our Blogs <i
                        class="fas fa-globe-europe"></i></button>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-fluid max-width-md custom-img" src="{% static 'people_canoe.png' %}"
                alt="Second slide">
            <div class="carousel-caption border border-dark rounded-lg font-weight-bold p-3 text-center mb-5">
                <h1 class="h1-responsive h1-sm">
                    TRAVEL.
                    <br>
                    BLOG.
                    <br>
                    DREAM.
                </h1>
                <button type="button" id="showAboutUsButton" class="lead btn btn-info btn-lg">Learn About Us</button>
                <button type="button" id="exploreBlogsButton" class="lead btn btn-info btn-lg">Explore Our Blogs <i
                        class="fas fa-globe-europe"></i></button>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-fluid max-width-md custom-img" src="{% static 'temple_trees.jpg' %}"
                alt="Third slide">
            <div class="carousel-caption border border-dark rounded-lg font-weight-bold p-3 text-center mb-5">
                <h1 class="h1-responsive h1-sm">
                    TRAVEL.
                    <br>
                    BLOG.
                    <br>
                    DREAM.
                </h1>
                <button type="button" id="showAboutUsButton" class="lead btn btn-info btn-lg">Learn About Us</button>
                <button type="button" id="exploreBlogsButton" class="lead btn btn-info btn-lg">Explore Our Blogs <i
                        class="fas fa-globe-europe"></i></button>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-fluid max-width-md custom-img" src="{% static 'mountain_lake.png' %}"
                alt="Fourth slide">
            <div class="carousel-caption border border-dark rounded-lg font-weight-bold p-3 text-center mb-5">
                <h1 class="h1-responsive h1-sm">
                    TRAVEL.
                    <br>
                    BLOG.
                    <br>
                    DREAM.
                </h1>
                <button type="button" id="showAboutUsButton" class="lead btn btn-info btn-lg">Learn About Us</button>
                <button type="button" id="exploreBlogsButton" class="lead btn btn-info btn-lg">Explore Our Blogs <i
                        class="fas fa-globe-europe"></i></button>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-fluid max-width-md custom-img" src="{% static 'temple.jpg' %}"
                alt="Fifth slide">
            <div class="carousel-caption border border-dark rounded-lg font-weight-bold p-3 text-center mb-5">
                <h1 class="h1-responsive h1-sm">
                    TRAVEL.
                    <br>
                    BLOG.
                    <br>
                    DREAM.
                </h1>
                <button type="button" id="showAboutUsButton" class="lead btn btn-info btn-lg">Learn About Us</button>
                <button type="button" id="exploreBlogsButton" class="lead btn btn-info btn-lg">Explore Our Blogs <i
                        class="fas fa-globe-europe"></i></button>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 img-fluid max-width-md custom-img" src="{% static 'zebras.jpg' %}"
                alt="Sixth slide">
            <div class="carousel-caption border border-dark rounded-lg font-weight-bold p-3 text-center mb-5">
                <h1 class="h1-responsive h1-sm">
                    TRAVEL.
                    <br>
                    BLOG.
                    <br>
                    DREAM.
                </h1>
                <button type="button" id="showAboutUsButton" class="lead btn btn-info btn-lg">Learn About Us</button>
                <button type="button" id="exploreBlogsButton" class="lead btn btn-info btn-lg">Explore Our Blogs <i
                        class="fas fa-globe-europe"></i></button>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- About Us Section -->
<!-- Flip Card -->


<div id="aboutUsSection" style="display: none;">
    <!-- Initially hidden -->
    <h1 class="impressive-heading">About Us</h1>
    <div class="container container-fluid bg-dark">

        <div class="row align-items-center">

            <!-- First card in its own row -->
            <div class="col-md-6">
                <div class="card flip-card text-white about">
                    <div class="card-front">
                        <img class="img-fluid border rounded-circle flip-button img-square" style="max-width: 100%;"
                            src="{% static 'girl_blogging.jpg' %}" alt="A girl blogging">
                        <div
                            class="carousel-caption border border-white rounded-lg font-weight-bold text-center bg-dark flip-bg">
                            <h4 class="card-title">
                                Blog Your Travels
                            </h4>
                            <button class="btn-lg btn-info flip-button border border-white rounded">Learn more!</button>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body bg-info border border-white rounded">
                            <div class="border border-white rounded-lg font-weight-bold bg-dark">
                                <h2 class="card-title text-center flip-button m-3">Blog Your Travels!</h2>
                                <p class="card-text lead flip-button m-3">
                                    Writing about your journeys allows you to capture the essence of each trip, from the
                                    places
                                    you've visited to the people you've met and the foods you've tasted. This
                                    documentation
                                    can
                                    serve as a cherished digital diary, helping you relive your adventures in the future
                                    and
                                    share them with friends and family.
                                </p>
                                <button
                                    class="btn-lg btn-info flip-button border border-white rounded d-block mx-auto m-3">Go
                                    Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second card in its own row -->
            <div class="col-md-6">
                <div class="card flip-card text-white about">
                    <div class="card-front">
                        <img class="img-fluid border rounded-circle flip-button img-square" style="max-width: 100%;"
                            src="{% static 'helping_others.png' %}" alt="A girl blogging">
                        <div
                            class="carousel-caption border border-white rounded-lg font-weight-bold text-center bg-dark flip-bg">
                            <h4 class="card-title">
                                Help Others
                            </h4>
                            <button class="btn-lg btn-info flip-button border border-white rounded">Learn more!</button>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body bg-dark border border-white rounded">
                            <div class="border border-white rounded-lg font-weight-bold bg-info">
                                <h2 class="card-title text-center flip-button m-3">Help Others</h2>
                                <p class="card-text lead flip-button m-3">
                                    By sharing your travel experiences, you can help fellow
                                    travelers who are planning similar trips. Your blog can offer valuable insights,
                                    tips,
                                    and
                                    recommendations, including budget-friendly accommodations, hidden gems, must-try
                                    dishes,
                                    and
                                    transportation advice. Being a helpful resource to others can be a rewarding aspect
                                    of
                                    writing a
                                    travel blog.
                                </p>
                                <button
                                    class="btn-lg btn-dark flip-button border border-white rounded d-block mx-auto m-3">Go
                                    Back</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-fluid bg-dark">
        <div class="row align-items-center">

            <!-- First card in its own row -->
            <div class="col-md-6">
                <div class="card flip-card text-white about">
                    <div class="card-front">
                        <img class="img-fluid border rounded-circle flip-button img-square" style="max-width: 100%;"
                            src="{% static 'travel_group.png' %}" alt="A girl blogging">
                        <div
                            class="carousel-caption border border-white rounded-lg font-weight-bold text-center bg-dark flip-bg">
                            <h4 class="card-title">
                                Build A Travel Community
                            </h4>
                            <button class="btn-lg btn-info flip-button border border-white rounded">Learn more!</button>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body bg-dark border border-white rounded">
                            <div class="border border-white rounded-lg font-weight-bold bg-info">
                                <h2 class="card-title text-center flip-button m-3">Build A Travel Community</h2>
                                <p class="card-text lead flip-button m-3">
                                    Travel blogs can help you connect with like-minded individuals who share your
                                    passion for
                                    exploring the world. You can engage with readers by commenting on their posts and
                                    sharing
                                    your social media,
                                    fostering a community of travelers who exchange ideas, stories, and recommendations.
                                    Building these connections can lead to new friendships and travel opportunities.
                                </p>
                                <button
                                    class="btn-lg btn-dark flip-button border border-white rounded d-block mx-auto m-3">Go
                                    Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second card in its own row -->
            <div class="col-md-6">
                <div class="card flip-card text-white about">
                    <div class="card-front">
                        <img class="img-fluid border rounded-circle flip-button img-square" style="max-width: 100%;"
                            src="{% static 'photographer.png' %}" alt="A girl blogging">
                        <div
                            class="carousel-caption border border-white rounded-lg font-weight-bold text-center bg-dark flip-bg">
                            <h4 class="card-title">
                                Improve Your Skills!
                            </h4>
                            <button class="btn-lg btn-info flip-button border border-white rounded">Learn more!</button>
                        </div>
                    </div>
                    <div class="card-back">
                        <div class="card-body bg-info border border-white rounded">
                            <div class="border border-white rounded-lg font-weight-bold bg-dark">
                                <h2 class="card-title text-center flip-button m-3">Improve Your Photography and Writing
                                    Skills!
                                </h2>
                                <p class="card-text lead flip-button m-3">
                                    Crafting engaging narratives, composing well-structured articles, and selecting
                                    captivating
                                    images are essential for a successful travel blog. Over time, you'll likely see
                                    improvement
                                    in these skills, which can be valuable in other areas of life and even open up
                                    opportunities
                                    for freelance writing or photography gigs.
                                </p>
                                <button
                                    class="btn-lg btn-info flip-button border border-white rounded d-block mx-auto m-3">Go
                                    Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog Entries -->
<div id="blogEntriesSection" style="display: none;">
    <!-- Initially hidden -->
    <h1 class="impressive-heading">Explore Our Blogs</h1>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in post_list %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <hr />
                                <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                    {{ post.number_of_likes }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <div class="row">
        <!-- Add the new buttons here -->
        <div class="col-12 mt-3">
            <div class="text-center">
                <!-- Button to go back to Carousel section -->
                <button id="goToCarouselButton" class="btn btn-primary">Go to Carousel</button>
                <!-- Button to go back to About Us section -->
                <button id="goToAboutUsButton" class="btn btn-primary">Go to About Us</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 2000
        });

        // Add click event listener to the "Explore our blogs" button
        $('#exploreBlogsButton').click(function () {
            // Hide the carousel and About Us sections, and show the Blog Entries section
            $('#carouselExampleControls').hide();
            $('#aboutUsSection').hide();
            $('#blogEntriesSection').show();
        });

        // Add click event listener to the "Show About Us" button
        $('#showAboutUsButton').click(function () {
            // Show the About Us section and hide the carousel and Blog Entries sections
            $('#carouselExampleControls').hide();
            $('#aboutUsSection').show();
            $('#blogEntriesSection').hide();
        });

        // Add click event listener to the "Show About Us" button
        $('#goToCarouselButton').click(function () {
            // Show the About Us section and hide the carousel and Blog Entries sections
            $('#carouselExampleControls').show();
            $('#aboutUsSection').hide();
            $('#blogEntriesSection').hide();
        });

        $('#goToAboutUsButton').click(function () {
            // Show the About Us section and hide the carousel and Blog Entries sections
            $('#carouselExampleControls').hide();
            $('#aboutUsSection').show();
            $('#blogEntriesSection').hide();
        });

        // // Scroll to sections
        // document.getElementById('goToCarouselButton').addEventListener('click', function () {
        //     // Scroll to the Carousel section
        //     document.getElementById('carouselSection').scrollIntoView({
        //         behavior: 'smooth'
        //     });
        // });

        // document.getElementById('goToAboutUsButton').addEventListener('click', function () {
        //     // Scroll to the About Us section
        //     document.getElementById('aboutUsSection').scrollIntoView({
        //         behavior: 'smooth'
        //     });
        //});

        const flipButtons = document.querySelectorAll('.flip-button');

        flipButtons.forEach(button => {
            button.addEventListener('click', function () {
                const card = this.closest('.flip-card');
                card.classList.toggle('flipped');
            });
        });
    });
</script>




{%endblock%}